{% extends "./layout.html" %}

{% block body%}
    <h3 style="text-align: center">Extra</h3>

    <div class="extra-container">
        <div class="extra-links">
            <strong>[2021-08-16]</strong><a href="{{ base_dir }}{{ url_for('extra_mosquito') }}">[open]</a>
        </div>
        <div class="extra-title">
            Computing the Probability of Catching a Mosquito by Hands. 
        </div>
    </div>

    <div class="extra-container">
        <div class="extra-links">
            <strong>[2021-08-16]</strong>
        </div>
        <div class="extra-title">
            Fun fact: apparently I'm the only Guglielmo Camporese in the world! 
        </div>
    </div>

    <div class="extra-container">
        <div class="extra-links">
            <strong>[2020-12-16]</strong><a href="{{ base_dir }}{{ url_for('extra_nn_tricks') }}">[open]</a>
        </div>
        <div class="extra-title">Bag of Tricks for Training Neural Networks.
        </div>
    </div>

    <div class="extra-container">
        <div class="extra-links">
            <strong>[2020-12-16]</strong><a href="{{ base_dir }}{{ url_for('extra_nn_common_errors') }}">[open]</a>
        </div>
        <div class="extra-title">Common Errors on Training Neural Networks.
        </div>
    </div>

      
{% endblock body %}