{% extends "./layout.html" %}

{% block body%}

			<div class="bio show">
        <h3>Bio</h3>
        I'm a Ph.D. Student in Brain, Mind and Computer Science at the University of Padova and I'm part of the <a href="http://vimp.math.unipd.it/" target="_blank">Visual Intelligence and Machine Perception Group</a> (VIMP). Previously I worked as a machine learning engineer at Aquifi Inc., Palo Alto (CA) and I interned at Amazon Science in Turin (IT) in the European team of Alexa as an Applied Scientist. In general, my research interests are in machine learning, neural networks, computer vision and speech recognition. Specifically, I'm interested in video understanding for predictive problems such as early action recognition and action anticipation.
      </div>

{% endblock %}