{% extends "./layout.html" %}
{%- block body -%}
{{ super() }}
  <div class="bio">
    I'm a Ph.D. Student in Brain, Mind and Computer Science at the University of Padova and I'm part of the <a href="http://vimp.math.unipd.it/" target="_blank">Visual Intelligence and Machine Perception Group</a> (VIMP). Currently I'm interning as an Applied Scientist at Amazon Web Services AI Labs in the computer vision team. Previously I worked as a machine learning engineer at Aquifi Inc., Palo Alto (CA) and I interned in the European team of Alexa AI in Turin (IT) as an Applied Scientist. In general, my research interests are in deep learning, computer vision and speech recognition. Specifically, I'm interested in video understanding for predictive problems such as early action recognition and action anticipation.
  </div>
{%- endblock %}
