{% extends "./layout.html" %}
{%- block body -%}
{{ super() }}

  <!-- bio -->
  <div class="bio container">
    Hi there! I'm Guglielmo - this is where I share a brief overview of what I do. I'm interested in artificial intelligence, vision, speech, and art.
    I’ve worked on video understanding, and I’m currently focused on multimodal generative AI.
  </div>

  <!-- experience -->
  <!-- <div class="section-heading">Experience</div>
  <div class="timeline container">
    <div id="timeline">
      <div class="timelineitem">
        <div class="tdate">2024–Now</div>
        <div class="ttitle">AI Researcher</div>
        <div class="tdesc">Disney Research</div>
        <div class="tloc">Zürich, Switzerland</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">2022–2024</div>
        <div class="ttitle">AI Researcher & Engineer Freelancer</div>
        <div class="tloc">Italy</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">04–07/2023</div>
        <div class="ttitle">Research Intern</div>
        <div class="tdesc">Disney Research</div>
        <div class="tloc">Zürich, Switzerland</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">12/2021–09/2022</div>
        <div class="ttitle">Applied Scientist Intern</div>
        <div class="tdesc">Amazon Web Services AI Labs</div>
        <div class="tloc">Seattle, WA, USA</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">06–09/2020</div>
        <div class="ttitle">Applied Scientist Intern</div>
        <div class="tdesc">Amazon Alexa AI</div>
        <div class="tloc">Turin, Italy</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">2019–2023</div>
        <div class="ttitle">Ph.D. in Brain, Mind and Computer Science</div>
        <div class="tdesc">University of Padova, VIMP</div>
        <div class="tloc">Padova, Italy</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">11/2018–10/2019</div>
        <div class="ttitle">Computer Vision Scientist</div>
        <div class="tdesc">Aquifi Inc.</div>
        <div class="tloc">Palo Alto, CA, USA</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">2016–2019</div>
        <div class="ttitle">M.Sc. in Telecommunication Engineering</div>
        <div class="tdesc">University of Padova</div>
        <div class="tloc">Padova, Italy</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">2012–2016</div>
        <div class="ttitle">B.Sc. in Information Engineering</div>
        <div class="tdesc">University of Padova</div>
        <div class="tloc">Padova, Italy</div>
      </div>
    </div>
  </div> -->
  <div class="section-heading">Experience</div>
  <div class="timeline container">
    <div id="timeline">
      <div class="timelineitem">
        <div class="tdate">2024–Now</div>
        <div class="ttitle">AI Researcher</div>
        <div class="tdesc">Disney Research</div>
        <div class="tloc">Zürich, CH</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">2022–2024</div>
        <div class="ttitle">Independent AI Researcher</div>
        <div class="tdesc">Gucci, Dronus, Salesspeed AI</div>
        <div class="tloc">Italy</div>
      </div>
      <!-- <div class="timelineitem">
        <div class="tdate">2020-2023</div>
        <div class="ttitle">Research Internships</div>
        <div class="tdesc">Disney Research · Zürich, Switzerland</div>
        <div class="tdesc">Amazon AWS AI Labs · Seattle, WA, USA</div>
        <div class="tdesc">Amazon Alexa AI · Turin, Italy</div>
      </div> -->
      <div class="timelineitem">
        <div class="tdate">2020-2023</div>
        <div class="ttitle">Research Internships</div>

        <div class="tdesc">
          <span>Disney Research</span>
          <span class="tloc"> · Zürich, CH</span>
        </div>

        <div class="tdesc">
          <span>Amazon AWS AI Labs</span>
          <span class="tloc"> · Seattle, WA</span>
        </div>

        <div class="tdesc">
          <span>Amazon Alexa AI</span>
          <span class="tloc"> · Torino, IT</span>
        </div>
      </div>
      <div class="timelineitem">
        <div class="tdate">2019–2023</div>
        <div class="ttitle">Ph.D. in Brain, Mind and Computer Science</div>
        <div class="tdesc">University of Padova, VIMP Group</div>
        <div class="tloc">Padova, IT</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">11/2018–10/2019</div>
        <div class="ttitle">Computer Vision Scientist</div>
        <div class="tdesc">Aquifi Inc.</div>
        <div class="tloc">Palo Alto, CA</div>
      </div>
      <div class="timelineitem">
        <div class="tdate">2012–2019</div>
        <div class="ttitle">B.Sc. and M.Sc in Engineering</div>
        <div class="tdesc">University of Padova</div>
        <div class="tloc">Padova, IT</div>
      </div>
    </div>
  </div>

  <!-- selected work -->
  <a name="publications"></a>
  <div class="section-heading">Selected Work</div>
  <div class="publications">
    <!-- <p class="pub-note">* indicates equal contribution</p> -->

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='img/blog/emotion-geometry-qwen3/fig2_emotion_plane.png') }}" alt="Emotion Geometry">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">Emotion Geometry in LLMs: Finding and Moving the Feeling</p></div>
        <div class="paper-authors"><strong>G Camporese</strong></div>
        <div class="paper-conference">Blog · May 2026</div>
        <div class="paper-link"><a href="./blog/emotion-geometry.html">[read]</a></div>
      </div>
    </div>

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='publications/salehi2023empowering.png') }}" alt="">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">Empowering Convolutional Neural Nets with MetaSin Activation</p></div>
        <div class="paper-authors">F Salehi, T O Aydin, A Gaillard, <strong>G Camporese</strong>, Y Wang</div>
        <div class="paper-conference">NeurIPS 2023</div>
        <div class="paper-link">
          <a href="https://proceedings.neurips.cc/paper_files/paper/2023/hash/1f05584d537c92c8271699f207677475-Abstract-Conference.html" target="_blank">[paper]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/salehi2023empowering.txt') }}">[bib]</a>
        </div>
      </div>
    </div>

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='publications/Camporese2023EarlyAR.png') }}" alt="">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">Early Action Recognition with Action Prototypes</p></div>
        <div class="paper-authors"><strong>G Camporese</strong>, A Bergamo, X Lin, J Tighe, D Modolo</div>
        <div class="paper-conference">arXiv 2023</div>
        <div class="paper-link">
          <a href="https://arxiv.org/abs/2312.06598" target="_blank">[arxiv]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/Camporese2023EarlyAR.txt') }}">[bib]</a>
        </div>
      </div>
    </div>

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='publications/Camporese2022WhereAM.png') }}" alt="">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">Where are my Neighbors? Exploiting Patches Relations in Self-Supervised Vision Transformer</p></div>
        <div class="paper-authors"><strong>G Camporese</strong>, E Izzo, L Ballan</div>
        <div class="paper-conference">BMVC 2022 <strong style="color: var(--accent); font-style: italic;">(oral spotlight)</strong></div>
        <div class="paper-conference">CVPRw 2022 <strong style="color: var(--accent); font-style: italic;">(oral spotlight)</strong></div>
        <div class="paper-link">
          <a href="https://arxiv.org/abs/2206.00481" target="_blank">[arXiv]</a>
          <a href="https://github.com/guglielmocamporese/relvit" target="_blank">[code]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/Camporese2022WhereAM.txt') }}">[bib]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/Izzo2023WhereAM.pdf') }}" target="_blank">[wicv]</a>
        </div>
      </div>
    </div>

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='publications/Osman2023TAMFormerMT.png') }}" alt="">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">TAMFormer: Multi-Modal Transformer with Learned Attention Mask for Early Intent Prediction</p></div>
        <div class="paper-authors">N Osman, <strong>G Camporese</strong>, L Ballan</div>
        <div class="paper-conference">ICASSP 2023 <strong style="color: var(--accent); font-style: italic;">(oral)</strong></div>
        <div class="paper-link">
          <a href="https://arxiv.org/abs/2210.14714" target="_blank">[arXiv]</a>
          <a href="https://github.com/NadaSOsman/TAMformer" target="_blank">[code]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/Osman2023TAMFormerMT.txt') }}">[bib]</a>
        </div>
      </div>
    </div>

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='publications/Guo2021ConditionalVC.png') }}" alt="">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">Conditional Variational Capsule Network for Open Set Recognition</p></div>
        <div class="paper-authors">Y Guo*, <strong>G Camporese*</strong>, W Yang, A Sperduti, L Ballan</div>
        <div class="paper-conference">ICCV 2021</div>
        <div class="paper-link">
          <a href="https://arxiv.org/abs/2104.09159" target="_blank">[arXiv]</a>
          <a href="https://openaccess.thecvf.com/content/ICCV2021/papers/Guo_Conditional_Variational_Capsule_Network_for_Open_Set_Recognition_ICCV_2021_paper.pdf" target="_blank">[paper]</a>
          <a href="https://github.com/guglielmocamporese/cvaecaposr" target="_blank">[code]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/Guo2021ConditionalVC.txt') }}">[bib]</a>
        </div>
      </div>
    </div>

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='publications/Mendelev2021ImprovedRT.png') }}" alt="">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">Improved Robustness to Disfluencies in Rnn-Transducer Based Speech Recognition</p></div>
        <div class="paper-authors">V Mendelev, T Raissi, <strong>G Camporese</strong>, M Giollo</div>
        <div class="paper-conference">ICASSP 2021</div>
        <div class="paper-link">
          <a href="https://arxiv.org/abs/2012.06259" target="_blank">[arXiv]</a>
          <a href="https://ieeexplore.ieee.org/document/9413618" target="_blank">[paper]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/Mendelev2021ImprovedRT.txt') }}">[bib]</a>
        </div>
      </div>
    </div>

    <div class="paper-container">
      <div class="paper-image">
        <img src="{{ base_dir }}{{ url_for('static', filename='publications/Osman2021SlowFastRL.png') }}" alt="">
      </div>
      <div class="paper-text">
        <div class="paper-title"><p class="rnd-bkg-color-alpha">SlowFast Rolling-Unrolling LSTMs for Action Anticipation in Egocentric Videos</p></div>
        <div class="paper-authors">N Osman, <strong>G Camporese</strong>, P Coscia, L Ballan</div>
        <div class="paper-conference">ICCVw 2021</div>
        <div class="paper-link">
          <a href="https://arxiv.org/abs/2109.00829" target="_blank">[arXiv]</a>
          <a href="https://openaccess.thecvf.com/content/ICCV2021W/EPIC/papers/Osman_SlowFast_Rolling-Unrolling_LSTMs_for_Action_Anticipation_in_Egocentric_Videos_ICCVW_2021_paper.pdf" target="_blank">[paper]</a>
          <a href="https://github.com/NadaSOsman/Slow-Fast-RULSTM" target="_blank">[code]</a>
          <a href="{{ base_dir }}{{ url_for('static', filename='publications/Osman2021SlowFastRL.txt') }}">[bib]</a>
        </div>
      </div>
    </div>

  </div>
{%- endblock %}
