<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
  {%- block head %}

  <title>Guglielmo Camporese</title>
  <meta name="description" content="Guglielmo Camporese HomePage."/>
  <meta charset="utf-8"/>

  <!-- Favicon/theme -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ base_dir }}{{ url_for('static', filename='img/icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ base_dir }}{{ url_for('static', filename='img/icon.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ base_dir }}{{ url_for('static', filename='img/icon.png') }}">

  <!-- responsive webpabe -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"/>
  <link href="//fonts.cdnfonts.com/css/roboto" rel="stylesheet">
  <link rel="stylesheet" href="{{ base_dir }}{{ url_for('static', filename='style.css') }}">
  {%- endblock head %}
  
</head>

{%- block imports %}
{%- endblock imports %}

<!-- BODY -->
<body>
<div id="main-container" class="container">

  <!-- header -->
  <div class="header-section">
    <div class="header-frame">
      <h1 style="margin: 0 0 0.4em 0">Guglielmo Camporese <span>(gool-yell-moe)</span></h1>
      <!-- <h1 style="margin: 0 0 0.4em 0">Guglielmo Camporese</h1> -->
      <!-- <h5 style="margin: 0 0 1em 0">(gool-yell-moe)</h5> -->
      <!-- <h3>Incoming Researcher at Disney Research</h2> -->
      <h3>Ph.D. in Brain, Mind and Computer Science</h3>
      <h4 style="margin: 0 0 1em 0">Prev. Disney Research, AWS AI Labs, Alexa AI</h4>
      <h6>guglielmocamporese [at] gmail [dot] com</h6>
    </div>
    <div class="img-frame">
      <img src="{{ base_dir }}{{ url_for('static', filename='img/profile.jpeg') }}" alt="" />
    </div>
  </div>

  <!-- links -->
  <div class="links">
    <a href="{{ base_dir }}{{ url_for('home') }}">bio</a>
    <a href="{{ base_dir }}{{ url_for('news') }}">news</a>
    <a href="{{ base_dir }}{{ url_for('home') }}#publications">publications</a>
    <a href="https://scholar.google.com/citations?user=Yu6im9cAAAAJ&hl=en/" target="_blank">scholar</a>
    <a href="https://github.com/guglielmocamporese" target="_blank">github</a>
    <a href="https://www.linkedin.com/in/guglielmocamporese/" target="_blank">linkedin</a>
    <a href="https://twitter.com/gucamporese/" target="_blank">twitter</a>
    <a href="{{ base_dir }}{{ url_for('static', filename='guglielmo_camporese_cv.pdf') }}" target="_blank">cv</a>
    <a href="{{ base_dir }}{{ url_for('extra') }}">extra</a>
  </div>
  {%- block body %}
  <h1 style="text-align: center; margin: 50px 0 50px 0; font-size: 20pt">{{ page_title if page_title != "Bio"}}</h1>
  {%- endblock body %}

  <div style="margin: 1em auto 0 auto; text-align: center;">
    
  </div>
  <footer id="footer">
      <p style="font-size: 10pt; display: inline; text-align: center">&copy;</p>
      <p style="font-size: 7pt; display: inline; text-align: center">2023 Guglielmo Camporese</p>
    </footer>
</div>

<!-- js -->
<script src="{{ base_dir }}{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
