<!DOCTYPE html>
<html lang="en">
<head>
  {%- block head %}
  <title>Guglielmo Camporese{% if page_title and page_title != "Bio" and page_title != "Home" %} · {{ page_title }}{% endif %}</title>
  <meta name="description" content="Guglielmo Camporese — Researcher at Disney Research."/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ base_dir }}{{ url_for('static', filename='img/icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ base_dir }}{{ url_for('static', filename='img/icon.png') }}">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ base_dir }}{{ url_for('static', filename='style.css') }}">
  {%- endblock head %}
</head>

{%- block imports %}{%- endblock imports %}

<body>
<div id="main-container">

  <!-- header -->
  <div class="header-section">
    <div class="header-frame">
      <h1>Guglielmo Camporese <span>(gool-yell-moe)</span></h1>
      <h4>AI Researcher at Disney Research · Zurich</h4>
      <!-- <h4>Ph.D. in Brain, Mind and Computer Science</h4> -->
      <h6>guglielmocamporese [at] gmail [dot] com</h6>
    </div>
    <div class="img-frame">
      <img src="{{ base_dir }}{{ url_for('static', filename='img/profile.jpeg') }}" alt="Guglielmo Camporese" />
    </div>
  </div>

  <!-- nav -->
  <nav class="links">
    <a href="{{ base_dir }}{{ url_for('home') }}">home</a>
    <a href="{{ base_dir }}{{ url_for('blog') }}">blog</a>
    <!-- <a href="{{ base_dir }}{{ url_for('news') }}">news</a> -->
    <a href="https://scholar.google.com/citations?user=Yu6im9cAAAAJ&hl=en/" target="_blank">scholar</a>
    <a href="https://github.com/guglielmocamporese" target="_blank">github</a>
    <a href="https://www.linkedin.com/in/guglielmocamporese/" target="_blank">linkedin</a>
    <a href="https://x.com/gucamporese/" target="_blank">x</a>
    <a href="{{ base_dir }}{{ url_for('static', filename='guglielmo_camporese_cv.pdf') }}" target="_blank">cv</a>
    <a href="{{ base_dir }}{{ url_for('extra') }}">extra</a>
  </nav>

  {%- block body %}
  {% if page_title and page_title != "Bio" and page_title != "Home" %}
  <div class="page-title">{{ page_title }}</div>
  {% endif %}
  {%- endblock body %}

  <footer id="footer">
    &copy; 2026 Guglielmo Camporese
  </footer>

</div>
<script src="{{ base_dir }}{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
