{% extends "./layout.html" %}

{% block body%}
    <h3 style="text-align: center">News</h3>

    <div style="text-align: justify"><strong class="news-date rnd-bkg-color">[2021-08-10]</strong> Our work "SlowFast Rolling-Unrolling LSTMs for Action Anticipation in Egocentric Videos" just got accepted to the Ninth International Workshop on Egocentric Perception, Interaction and Computing at ICCV-2021!</div><br>

    <div style="text-align: justify"><strong class="news-date rnd-bkg-color">[2021-07-22]</strong> Our work "Conditional Variational Capsule Network for Open Set Recognition" just got accepted to ICCV-2021!</div><br>

    <div style="text-align: justify"><strong class="news-date rnd-bkg-color">[2021-01-30]</strong> The work I've done as an intern at Amazon Science in the European team of Alexa "Improved robustness to disfluencies in RNN-Transducer based Speech Recognition" has been accepted at ICASSP-2021!</div><br>

    <div style="text-align: justify"><strong class="news-date rnd-bkg-color">[2020-06-01]</strong> I'm excited to start an internship at Amazon Science in the European team of Alexa for the next three months (during the entire Summer)! I'll be in Turin, Italy.</div><br>
{% endblock body %}