{% extends "./layout.html" %}
{%- block body -%}
	{{ super() }}

  <!-- publications -->
  <div class="news-container">
	<strong class="news-date rnd-bkg-color-alpha">[2023-02-27]</strong>
	<p style="display: inline;">
  		I successfully defended my Ph.D. thesis on Action Anticipation, Self-Supervised Learning and Open World Recognition at the University of Padova, Italy!
	</p>
</div>
  <div class="news-container">
	<strong class="news-date rnd-bkg-color-alpha">[2023-02-16]</strong>
	<p style="display: inline;">
  Our work "TAMFormer: Multi-Modal Transformer with Learned Attention Mask for Early Intent Prediction" has been accepted to ICASSP-2023!
	</p>
</div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2022-09-30]</strong>
  	<p style="display: inline;">
    Our work "Where are my Neighbors? Exploiting Patches Relations in Self-Supervised Vision Transformer" has been accepted to BMVC-2022 as a oral spotlight!
  	</p>
  </div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2022-06-20]</strong>
  	<p style="display: inline;">
    Our work "Early Pedestrian Intent Prediction Via Features Estimation" has been accepted to ICIP-2022!
  	</p>
  </div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2022-05-24]</strong>
  	<p style="display: inline;">
    Our work "Where are my Neighbors? Exploiting Patches Relations in Self-Supervised Vision Transformer" has been selected for a splotlight oral presentation at the "Transformers for Vision" workshop at CVPR 2022!
  	</p>
  </div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2022-05-23]</strong>
  	<p style="display: inline;">
    Our work "Where are my Neighbors? Exploiting Patches Relations in Self-Supervised Vision Transformer" just got accepted to the "Transformers for Vision" workshop at CVPR 2022!
  	</p>
  </div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2021-12-13]</strong>
  	<p style="display: inline;">
  		I'm super exited to start an internship at Amazon Web Services AI Labs as an Appliest Scientist Intern with the Seattle (WA) team for the next six months!
  	</p>
  </div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2021-08-10]</strong>
  	<p style="display: inline;">
  		Our work "SlowFast Rolling-Unrolling LSTMs for Action Anticipation in Egocentric Videos" just got accepted to the Ninth International Workshop on Egocentric Perception, Interaction and Computing at ICCV-2021!
  	</p>
  </div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2021-07-22]</strong>
  	<p style="display: inline;">
  		Our work "Conditional Variational Capsule Network for Open Set Recognition" just got accepted to ICCV-2021!
  	</p>
  </div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2021-01-30]</strong>
  	<p style="display: inline;">
  		The work I've done as an intern at Amazon Science in the European team of Alexa "Improved robustness to disfluencies in RNN-Transducer based Speech Recognition" has been accepted at ICASSP-2021!
  	</p>
  	</div>
  <div class="news-container">
  	<strong class="news-date rnd-bkg-color-alpha">[2020-06-01]</strong>
  	<p style="display: inline;">
  		I'm excited to start an internship at Amazon Science in the European team of Alexa for the next three months (during the entire Summer)! I'll be in Turin, Italy.
  	</p>
  </div>
{%- endblock body %}
