{% extends "./layout.html" %}

{% block body%}
    <div class="news show" id="publications">
        <h3>Publications</h3>

        <div class='header-section'>
          <div class='col-xs-9'>
            <div class='paper-title'>
              SlowFast Rolling-Unrolling LSTMs for Action Anticipation in Egocentric Videos
            </div>
            <div class='paper-authors'>
              Nada Osman, 
              <u>Guglielmo Camporese</u>, 
              Pasquale Coscia, 
              Lamberto Ballan
            </div>
            <div>ICCVW 2021</div>
            <div>
              <a href=''>[arXiv]</a>
            </div>
          </div>
          <div class='header-frame'>
            <img class='paper-image' src="{{ base_dir }}{{ url_for('static', filename='img/slowfast_rulstm.png') }}">
          </div>
        </div><br>

        <div class='header-section'>
          <div class='col-xs-9'>
            <div class='paper-title'>
              Conditional Variational Capsule Networks for Open Set Recognition
            </div>
            <div class='paper-authors'>
              Yunrui Guo*, 
              <u>Guglielmo Camporese*</u>, 
              Wenjing Yang, 
              Alessandro Sperduti, 
              Lamberto Ballan
            </div>
            <div>ICCV 2021</div>
            <div>
              <a href='https://arxiv.org/abs/2104.09159' target="_blank">[arXiv]</a>
              <a href='https://github.com/guglielmocamporese/cvaecaposr' target="_blank">[code]</a>
            </div>
          </div>
          <div class='header-frame'>
            <img class='paper-image' src="{{ base_dir }}{{ url_for('static', filename='img/cvaecaposr.png') }}">
          </div>
        </div>

        <div class='header-section'>
          <div class='col-xs-9'>
            <div class='paper-title'>
              Improved Robustness to Disfluencies in Rnn-Transducer Based Speech Recognition
            </div>
            <div class='paper-authors'>
              Valentin Mendelev*, 
              Tina Raissi*,
              <u>Guglielmo Camporese</u>, 
              Manuel Giollo
            </div>
            <div>ICASSP 2021</div>
            <div>
              <a href='https://arxiv.org/abs/2012.06259' target="_blank">[arXiv]</a>
            </div>
          </div>
          <div class='header-frame'>
            <img class='paper-image' src="{{ base_dir }}{{ url_for('static', filename='img/stutter.png') }}">
          </div>
        </div>

        <div class='header-section'>
          <div class='col-xs-9'>
            <div class='paper-title'>
              Knowledge Distillation for Action Anticipation via Label Smoothing
            </div>
            <div class='paper-authors'>
              <u>Guglielmo Camporese</u>, 
              Pasquale Coscia, 
              Antonino Furnari, 
              Giovanni Maria Farinella, 
              Lamberto Ballan
            </div>
            <div>ICPR 2020</div>
            <div>
              <a href='https://arxiv.org/abs/2004.07711' target="_blank">[arXiv]</a>
            </div>
          </div>
          <div class='header-frame'>
            <img class='paper-image' src="{{ base_dir }}{{ url_for('static', filename='img/label_smoothing.png') }}">
          </div>
        </div>
      </div>
{% endblock body %}