{% extends "./layout.html" %}
{% block body%}
  {{ super() }}
  
  <!-- PUBLICATIONS -->
  {%- for pub in pubs %}
  <div class='paper-container'>
    <div class='paper-image'>
      <center><img src="{{ base_dir }}{{ url_for('static', filename='publications/' + pub.number + '.png') }}"></center>
    </div>
    <div class='paper-text'>
      <div class='paper-title'>
        <p style="display: inline;">{{ pub.title }}</p>
      </div>
      <div class='paper-authors'>
        <p style="display: inline;">
        {%- for a in pub.authors.split(', ') -%}
          {%- if (a == 'Guglielmo Camporese') or (a == 'Guglielmo Camporese*') -%}
            {%- if not loop.last -%}
              <u>{{ a }}</u>{{ ", " }}
            {%- else -%}
              {{ a }}
            {%- endif -%}
          {%- else %}
            {%- if not loop.last -%}
              {{ a }}{{ ", " }}
            {%- else -%}
              {{ a }}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        </p>
      </div>
      {%- if pub.link -%}
        {%- if pub.code -%}
      <div class='paper-conference'>
        <p style="display: inline;">{{ pub.conference }}</p>
        <div class='paper-link'>
            <a class='paper-link' href='{{ pub.link }}' target="_blank">[arXiv]</a>
            <a class='paper-link' href='{{ pub.code }}' target="_blank">[code]</a>
        </div>
      </div>
        {%- else %}
      <div class='paper-conference'>
        <p style="display: inline;">{{ pub.conference }}</p>
        <div class='paper-link'>
            <a class='paper-link' href='{{ pub.link }}' target="_blank">[arXiv]</a>
        </div>
      </div>
        {%- endif -%}
      {% else -%}
      <div class='paper-conference'>
        <p style="display: inline;">{{ pub.conference }}</p>
      </div>
      {%- endif %}
    </div>
  </div>
  {%- endfor -%} 

  <p style="text-align: center; font-size: 9pt; margin-top: 4em;">
    * indicates equal contribution.
  </p> 
{% endblock body %}
