html {
  width: 100%;
  padding: 0;
  font-size: 14pt;
  font-family: "Roboto Light";
  font-weight: 200;
}
body {
  background: #fcfbf9;
  color: #000;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 850px) {
  body {
    width: 95%;
  }
}
body.dark-mode,
body.dark-mode.extra-container.extra-title.mark {
  color: #fff;
}
.dark-mode {
  color: #fff;
}
::selection {
  background-color: #eb4888;
  color: #000;
}

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 1300px;
}
@media (max-width: 850px) {
  .container {
    padding: 5px;
    max-width: 750px;
  }
}
.attribution {
  margin: 100px auto;
  padding: 100px;
  max-width: 650px;
}


/* text */
h1 {
  font-weight: bold;
  font-size: 1.9em;
}
h1 span {
  font-weight: 200;
  font-size: 0.4em;
}
h2, h3, h4 {
  color: #96979c;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}
h5 {
  font-weight: 300;
  margin: 0 0 0.5em 0;
}
h6 {
  font-size: 0.6em;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}
a {
  color: #96979c;
}
a:hover {
  font-style: italic;
}
@media (max-width: 850px) {
  h1 {
    font-size: 1.7em;
  }
  h1 span {
    white-space: pre;
    font-weight: 200;
    font-size: 0.4em;
  }
  h6 {
    font-size: 0.6em;
  }
}


/* header */
.header-section {
  font-family: "Roboto Regular";
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 0;
  margin: 0 auto;
  padding: 2%;
}
.header-frame {
  margin: 0 0 0 0;
  text-align: left;
}
@media (max-width: 850px) {
  .header-section{
    justify-content: space-around;
  }
  .header-frame {
    max-width: 100%;
    text-align: center;
  }
}
.img-frame {
  position: relative;
  max-width: 18em; /* Maximum width */
  height: 18em; /* Fixed height */
  margin: 0; /* Margin */
  border-radius: 50%; /* Circular frame */
  overflow: hidden; /* Hide parts of the image that overflow */
  width: auto; 
  aspect-ratio: 1/1; /* Maintain a square aspect ratio */
}
@media (max-width: 850px) {
  .img-frame {
    max-width: 80%; /* Full width on small screens */
    height: auto; /* Height adjusts to maintain aspect ratio */
  }
}
.img-frame img {
  object-fit: cover; /* Cover the container, maintaining aspect ratio */
  object-position: center; /* Center the image */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
}
@media (max-width: 850px) {
  .img-frame img {
    max-width: 100%; /* Full width on small screens */
    height: auto; /* Height adjusts to maintain aspect ratio */
  }
}


/* links */
.links {
  text-align: center;
  margin: auto;
  font-family: "Roboto Mono";
  font-weight: 200;
  font-size: 12pt;
}
.links a:not(:last-child) {
  padding: 0 16px 0 0;
}
@media (max-width: 850px) {
  .links {
    max-width: 90%;
  }
}


/* bio */
.bio {
  text-align: justify;
  max-width: 70%;
}
@media (max-width: 850px) {
  .bio {
    text-align: center;
  }
}

/* news */
.news-container {
  text-align: justify;
  margin: 0 0 2em 0;
}
.news-date {
  font-weight: 900;
}


/* publications */
.paper-container {
  display: flex;
  align-items: center top;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
  vertical-align: top;
}

@media (max-width: 850px) {
  .paper-container {
    flex-flow: column;
    margin-bottom: 80px;
  }
}
.paper-image {
  position: relative;
  margin: 0 0 0 0;
  overflow: hidden;
  max-width: 50%;
  height: auto;
}
@media (max-width: 850px) {
  .paper-image {
    max-width: 100%;
    order: 2;
  }
}
.paper-image img {
  position: relative;
  max-width: 90%;
  max-height: 100%;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}
.paper-text {
  position: relative;
  margin: 0 1em 0 0;
  border-radius: 0%;
  overflow: hidden;
  width: 48%;
  max-width: 48%;
  height: auto;
}
@media (max-width: 850px) {
  .paper-text {
    max-width: 100%;
    width: auto;
    margin-bottom: 1em;
    order: 1;
  }
}
.paper-title {
  font-weight: 700;
  font-size: 15pt;
  margin: 0em 0 0em 0;
  text-align: left;
  font-family: "Roboto Light";
  font-weight: 400;
}
.paper-authors {
  font-size: 12pt;
  margin-top: 8px;
  text-align: left;
  font-weight: 900;
  font-family: "Roboto Thin";
  font-weight: 400;
  
}
.paper-conference {
  margin-top: 8px;
  font-size: 11pt;
  font-weight: 1200;
  font-family: "Roboto Mono";
  font-weight: 400;
}
.paper-link {
  margin-top: 8px;
  font-size: 8pt;
  text-decoration: none;
  font-family: "Roboto Mono";
  font-weight: 400;
}
@media (max-width: 850px) {
  .paper-title {
    text-align: center;
  }
  .paper-authors {
    text-align: center;
  }
  .paper-conference {
    text-align: center;
  }
  .paper-link {
    text-align: center;
  }
}


/* timeline */
@media (min-width: 850px) {
  .timelineitem:nth-child(odd) {
    margin-left: 50%;
    box-shadow: -5px 0px 0px 0px #666;
    text-align: left;
    border-spacing: 2.5px;
  }
  .timelineitem:nth-child(even) {
    margin-right: 50%;
    border-right: 5px solid #666;
    text-align: right;
  }
  .timelineitem {
    position: relative;
    padding: 20px;
  }
  .timelineitem:nth-child(odd):before {
   left: -8px;
  }
  .timelineitem:nth-child(even):before {
    right: -8px;
  }
}
.timelineitem:before {
  width: 11px;
  height: 11px;
  background: #666;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 5px;
}
@media (max-width: 850px) {
  .timelineitem {
    border-left: 5px solid #666;
    text-align: left;
    margin-left: 0px;
    padding: 5px;
    position: relative;
  }
  .timelineitem:before {
    left: -8px;
  }
}
.tdate {
  /* font-family: "Roboto Medium"; */
  font-weight: normal;
  margin-bottom: 2px;
  color: rgb(255, 68, 107);
  font-size: 12pt;
  font-family: "Roboto Mono";
  font-weight: 400;
}
.ttitle {
  font-family: "Roboto Medium";
  font-weight: 200;
  font-size: 14pt;
  margin-bottom: 2px;
}
.tdesc {
  margin-bottom: 2px;
  font-weight: 10;
  font-size: 14pt;
  font-style: normal;
  /* font-family: "Roboto Mono"; */
}
.tloc {
  margin-bottom: 2px;
  font-weight: 10;
  font-size: 12pt;
  font-style: normal;
  font-family: "Roboto Mono";
  font-weight: 400;
}
@media (max-width: 850px) {
  .tdate {
    margin-left: 20px;
  }
  .ttitle {
    margin-left: 20px;
  }
  .tdesc {
    margin-left: 20px;
  }
  .tloc {
    margin-left: 20px;
    margin-bottom: 5px;
  }
}
.thigh {
  color: #000266;
}


/* easter egg  */
.easter-egg {
  margin-top: 5em;
  font-size: 9pt;
  color: #fcfbf9;
  text-align: center;
}
.easter-egg-highlight {
  color: #000;
  transition: color 0.2s;
}
@media (max-width: 850px) {
  .easter-egg {
    display: none;
  }
}
.easter-egg-dark-mode {
  margin-top: 5em;
  font-size: 9pt;
  color: #11151b;
  text-align: center;
}
.easter-egg-dark-mode-highlight {
  color: #96979c;
  transition: color 0.2s;
}
@media (max-width: 850px) {
  .easter-egg-dark-mode {
    display: none;
  }
}


/* extra */
.extra-container {
  margin: 0 0 2em 10em;
}
.extra-title {
  font-weight: 900;
  font-size: 14pt;
  margin: 0em 0 0.5em 0;
  text-align: justify;
}
.extra-links {
  margin: 0 0 10px 0;
  font-size: 9pt;
}
@media (max-width: 850px) {
  .extra-container {
    margin: 0 0 2em 0em;
    text-align: center;
  }
  .extra-title {
    text-align: center;
  }
}
.image-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}
.image-container img {
  max-width: 60%;
}
.formula {
  margin: 50px 0 50px 0;
  overflow-x: scroll;
}
.p5Canvas {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: 10vw;
  width: 10vw;
  aspect-ratio: 1.0;
}
code {
  border-radius: 5px;
}
pre:first-line {
    line-height: 0;
}
.images-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.images-column {
  flex: 50%;
  padding: 0 4px;
}
.images-row figure {
  margin: 0 0 2em 0;
  vertical-align: middle;
  max-width: 33%;
}
.images-row img {
  margin: 0 0 0 0;
  vertical-align: middle;
  max-width: 100%;
}
figure figcaption {
    text-align: center;
}
applause-button {
  width: 3em; 
  height: 3em; 
  margin: 3em auto -0.5em auto;
}
.count-container {
  font-size: 1em;
  margin: 0 0 0 0;
  transform: translate(2.8em, 1.9em);
}
#map {
  margin: 0 auto;
  height: 400px;
  width: 100%;
  align-items: center;
}
@media (max-width: 850px) {
  #map {
    zoom: 0.6;
  }
}
.map {
  margin: 0 auto;
  height: 400px;
  width: 100%;
  align-items: center;
  border: 0;
}
@media (max-width: 850px) {
  iframe {
    content: url();
  }
}
#footer {
  position: relative;
  text-align: center;
  bottom: -35px;
}